		<!-- CONTENT CONTAINER -->
		<div class="content-container">	

			<div class="content-article">
				<h1 class="entry-title page">About SELLi</h1>
					<div class="thumb-featured no-margin">
						<img src="images/feat1.jpg">
					</div><!-- .entry-meta -->
					<div class="entry-content selli-canvas">
						<input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
					</div><!-- .entry-content -->

				<div class="selli-canvas entry-footer no-margin">
					<div class="social-share">
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="gplus"><i class="fa fa-google-plus"></i></a>
					</div><!-- .social-share -->
				</div><!-- .entry-footer -->
			</div><!-- .content-article -->

		</div>
		<!-- END CONTENT CONTAINER -->
		