	<div class="content-container">

			<h1 class="page-title">Minhas tentivas de acordo</h1>
			
			<!-- Order history navigation -->
			<a href="/nova_divida"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="">Novo</button></a>
			<hr>
			<div class="order-history-nav">
				<select class="browser-default">

					<option value="">Recusadas</option>
					<option value="" selected>Visualizadas</option>
					<option value="">Fechadas</option>
				</select>
			</div>
			<!-- End Order history navigation -->

			<!-- Order history listing (collapsible) -->
			<ul class="collapsible order-history" data-collapsible="accordion">
				<li ng-repeat="proposta in minhas_propostas">
					<div class="collapsible-header">
						<span class="indicator fa fa-caret-right"></span>
						<div class="order-status">
							visualizada <span class="fa fa-check"></span>
						</div>
						<div class="order-no">
							<span class="block bold">{{proposta.nome_empresa}} - Contrato # {{proposta.contrato}}<a href="#">55891</a></span>
							<span class="block text-small">Adicionado em {{proposta.criado| date:'d/M/yyyy HH:mm:ss'}}</span>
						</div>
					</div>
					<div class="collapsible-body">
						<ol>
							<li>
								
								<div class="ctn">
									<h3>Valor</h3>
									<span>R$</span> {{proposta.valor}} / parcela minima {{proposta.parcela}}
									<p><a href="#" class="track-order">Reenviar</a></p>
								</div>
							</li>
							
						</ol>
					</div>
				</li>
				
		
			</ul>
			<!-- End Order history listing -->


		</div>