		<!-- CONTENT CONTAINER -->
		<div class="content-container" ng-hide=logado>	

			<div class="content-article">
				<h1 class="entry-title page">About SELLi</h1>
					<div class="thumb-featured no-margin">
						<img src="images/feat1.jpg">
					</div><!-- .entry-meta -->
					<div class="entry-content selli-canvas">
						<input type="text" ng-model="yourName" placeholder="Enter a name here">
				      <hr>
				      <h1>Hello {{yourName}}!</h1>
					</div><!-- .entry-content -->

				<div class="selli-canvas entry-footer no-margin">
					<div class="social-share">
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="gplus"><i class="fa fa-google-plus"></i></a>
					</div><!-- .social-share -->
				</div><!-- .entry-footer -->
			</div><!-- .content-article -->

		</div>


		<div class="content-container" ng-show=logado>

			<h1 class="page-title">
			Negociações</h1>
			
			<!-- Tracking order navigation -->
			<div class="tracking-order-nav">
				<span class="nav-left">
					<span class="block">Total em dividas</span>
					<span class="block semibold">R$ 12000 00</span>
				</span>
				<span class="nav-right">
					<span class="block">Total disponibilizado</span>
					<span class="block semibold">R$ 250 00</span>
				</span>
			</div>
			<!-- End Tracking order navigation -->

			<!-- Tracking order list (collapsible) -->
			<ul class="collapsible tracking-order" data-collapsible="accordion">
				
				<li class="" ng-repeat="proposta in minhas_propostas"><!-- Item #1 -->
					<div class="collapsible-header">
						<span class="indicator fa fa-caret-right"></span>
						<div class="tracking-status">
							<span class="fa fa-truck"></span>
							Enviado
						</div>
						<div class="std-shipping">
							<span class="block text-small">{{proposta.nome_empresa}} #{{proposta.contrato}}</span>
							<span class="block">Compra na loja</span>
							<span class="block semibold">{{proposta.criado}} </span>
						</div>
					</div>
					<div class="collapsible-body">

						<div class="tracking-process">
							<div class="step active">
								<div class="icon">
									<i class="fa fa-ship"></i>
								</div>
								<span class="name">Enviado</span>
							</div>
							<div class="step active">
								<div class="icon">
									<i class="fa fa-truck"></i>
								</div>
								<span class="name">Aceito</span>
							</div>
							<div class="step">
								<div class="icon">
									<i class="fa fa-check"></i>
								</div>
								<span class="name">Fechado</span>
							</div>
							<div class="lineconnect"></div>
						</div>

						<ol class="tracking-table">
							<li class="heading">
								Informações
							</li>
							<li>
								<span class="time">03/02/2017 00:43:19</span>
								A empresa falou que sua dibvida com ela é {{proposta.valor}} 
							</li>
							<li>
								<span class="time">03/02/2017 08:53:00</span>
								O valor de parcela minima aceitavel é {{proposta.parcela}}
							</li>
						</ol>

						<span class="block semibold">Dados do acordo :</span>
						<ol class="package-contain">
							<li>
						
								<div class="ctn">
									<h3>Valor total : {{proposta.valor}}</h3>
									<span>Parcelas</span> {{proposta.parcela}}
								</div>
							</li>
						</ol>
					</div>

				</li><!-- End Item #1 -->


			</ul>
			<!-- End Tracking order list -->

		</div>
		